<html>
<form method="POST" action="/display_puppy">
    <p><label>Name:<input type= "text" name = "name" ></label></p>
    <p><label>breed:<input type= "text" name = "breed" ></label></p>
    <p><label>age:<input type= "text" name = "age" ></label></p>


    <input type="submit" id="Submit"/>

  </form>
