
<form method="POST" action="/puppy">
    <p><label>name:<input type= "text" id= "name" name = "name" ></label></p>
    <p><label>breed:<input type= "text" id= "breed" name = "breed" ></label></p>
    <p><label>age:<input type= "text" id="age" name = "age" ></label></p>


    <input type="submit" value="Submit"/>

  </form>
