<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy</title>
 </head>
 <body>

   <h2>Name: <%= @puppy.name %></br>
       Breed:  <%= @puppy.breed %></br>
       Age: <%= @puppy.age %></br>

     </h2>



 </body>
</html>
